<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% for(let i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox" name="" for=<%=newListItems[i] %>>
                <p id=<%=newListItems[i] %>>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>
                <form autocomplete="off" class="item" action="/" method="post">
                    <input type="text" name="newInput" placeholder="New item" required>
                    <button type="submit" name="button" class="btn btn-outline-primary" value=<%=listTitle %>
                        >+</button>
                </form>
    </div>
    <%- include("footer") -%>